[Unit]
Description=Metrics Service

[Service]
WorkingDirectory=<metrics>
ExecStart=<python> -u collect_metrics.py
User=pi
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target